<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div th:if="${param.error}">
    无效的账号和密码
</div>
<div th:if="${param.logout}">
    你已注销
</div>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">username:</label>
                    <input type="text" id="username" name="username" class="form-control">
                    <label for="password">password:</label>
                    <input type="password" id="password" name="password" class="form-control">
                </div>
                <input id="send" class="btn btn-default" type="submit" value="Sign In"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>