<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebSocket 点对点式</title>

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<noscript>你的浏览器不支持websocket</noscript>

<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="msg">Message:</label>
                    <input type="text" id="msg" name="msg" class="form-control" placeholder="Your msg here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>output</th>
                </tr>
                </thead>
                <tbody id="output">
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>

<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>

<script type="text/javascript">
    var stompClient = null;

    function sendMsg() {
        var msg = $("input[name='msg']").val();

        stompClient.send("/app/chat", {}, JSON.stringify({'msg':msg}));
    }

    function connect() {
        var socket = new SockJS("/endpointChat");
        stompClient = Stomp.over(socket);
        stompClient.connect('guest', 'guest', function (frame) {
            setConnected(true);
            stompClient.subscribe("/user/queue/notifications", handleNotification);
        })
    }

    function disconnect() {
        if (stompClient != null){
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected!");
    }

    function setConnected(connected) {
        $("#connect").prop("disabled", connected);
        $("#disconnect").prop("disabled",!connected);
        if (connected){
            $("#conversation").show();
        }else{
            $("#conversation").hide();
        }
        $("#output").html("");
    }

    function handleNotification(message) {
        $("#output").append("<tr><td>" + message + "</td></tr>");
    }

    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#connect" ).click(function() { connect(); });
        $( "#disconnect" ).click(function() { disconnect(); });
        $( "#send" ).click(function() { sendMsg(); });
    });
</script>
</body>
</html>